body {
  background-color: #2b2a36;
  text-align: center;
  margin: 0;
  padding: 0;
}

.h1 {
  color: #ffffff;
}

.parrafoComun {
  color: #ffffff;
}

.orange {
  color: #ffa500;
}

.container1 {
  width: 100%;
  max-width: 1536px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 48px;
  padding-left: 48px;
}

.container2 {
  width: 100%;
  max-width: 1536px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 48px;
  padding-left: 48px;
}

.parrafoSocial {
  font-size: smaller;
  color: #ffffff;
}

.socialMedia {
  max-width: 500px;
}

.socialMedia img {
  width: 60px;
  height: 60px;
}
