body {
  background-color: #2b2a36;
  text-align: center;
  margin: 0;
  padding: 0;
}

.h1 {
  color: #ffffff;
}

.parrafoComun {
  color: #ffffff;
}

.orange {
  color: #ffa500;
}

.container1 {
  width: 100%;
  max-width: 1536px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 48px;
  padding-left: 48px;
}

.container2 {
  width: 100%;
  max-width: 1536px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 48px;
  padding-left: 48px;
}

.parrafoSocial {
  font-size: smaller;
  color: #ffffff;
}

.socialMedia {
  max-width: 500px;
}

.socialMedia img {
  width: 60px;
  height: 60px;
}

/*REDES SOCIALES*/

.redes-flotantes {
  position: fixed;
  right: 8px;
  top: 75%;
  z-index: 20;
}
.redes-flotantes img {
  float: right;
  clear: right;
  margin: 5px;
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.redes-flotantes img:hover {
  -moz-transform: scale(1.1) rotate(6deg);
  -webkit-transform: scale(1.1) rotate(6deg);
  -o-transform: scale(1.1) rotate(6deg);
  -ms-transform: scale(1.1) rotate(6deg);
  transform: scale(1.1) rotate(6deg);
}

.separator {
  clear: both;
  text-align: center;
}

.icono-redes {
  clear: left;
  float: left;
  margin-bottom: 1em;
  margin-right: 1em;
  background-color: white;
  border-radius: 50%;
}
