
/* bibiana */
.ph-card {
  background-color: #18171f !important;
}

.right-start {
  display: flex;
  margin-right: -16px;
  justify-content: center;
  align-items: stretch;
  }
 
  .cta-holder {
    position: relative;
    display: flex;
    width: 190px;
    height: 100%;
    padding: 24px 32px;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    background-color: #575468;
    transition: box-shadow 400ms ;
}
  .cta-ico-wrap {
    position: relative;
    display: flex;
    width: 80px;
    height: 80px;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
  }
  .cta--ico {
    position: absolute;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    object-fit: none;
  }
 
  .cta--txt {
    font-size: 16px;
    line-height: 24px;
  }

  .cta {
    position: relative;
    display: flex;
    margin: 16px;
    flex-direction: column;
    align-items: center;
    color: #bbbbbe;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
  }


